        body {
           /* padding: 05%;
            margin: 0%;*/
            /*background-size: cover;
            width: 100%;
            height: 100%;*/
            background-color: #FFDE14;
        }

        /*###########(RRG CSS)######################*/

        

        /* -- new css -- */
        .left_div .nav-tabs .tab-pane:first-child .table-responsive {
            height: 300px;
            overflow-x: scroll;
        }

        .special_header {
            position: fixed;
            width: 100%;
            z-index: 500;
        }

        .parent_non_final {

        }

        .products-container {
            width: 58%;
            float: right;
            padding: 16px 0px 0px 0px;
        }

        .kotpreview-container {
            width: 240px;
            margin: 0px auto;
    
        }

        .salepreview-container {
            width: 240px;
            margin: 0px auto;
    
        }

        .search_bar {
            width: 50%;
            float: left;
        }

        .search_bar input[type="text"] {
            width: 80%;
            height: 30px;
            display: block;
            margin: 15px auto 0px;
            border: 2px solid #CCC;
            padding: 10px;
        }
        .clearfloat {
            clear: both;
            float: none;
            display: block;
            width: 1px;
            height: 1px;
        }
        .cat-container {
            width: 100%;
        }
        .product-container {
            width: 100%;
            float: right;
            padding: 16px 0px 0px 0px;
            height: 600px;
            overflow-y: scroll;
        }
        
        .catbutton {
            width: 17.1%;
            margin: 5px 13px;
            border: none;
            display: inline-block;
            /*float: right;*/
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            color: white;
            cursor: pointer;
            border-radius: 0px;
            background-color: #333;
            box-shadow: 1px 2px 4px #000;
        }
        .catbutton:hover {
            text-decoration: underline; 
        }
        .itemButton {
            width: 32%;
            height: 54px;
            border: none;
            /*float: right;*/
            margin: 4px 2px;
            color: white;
            text-align: center;
            font-size: 16px;
            background-color: #931851;
            white-space: normal;
        }
        .itemButton:hover {
            text-decoration: underline;
        }
        .itemButton.btn-primary:hover {
            background-color: #931851;
        }
        .catbutton.btn-primary:hover {
            background-color: #333;
        }
        .main_parent_final {
            position: relative;
        }
        .left_div {
            width: 41%;
            float: left;
            padding: 5px;
            overflow-y: scroll;
            height: 600px;
        }
        .total_footer label {
            text-align: right;
            margin: 0px 10px 0px 0px !important;
        }
        .total_footer .o_form_field {
            width: 250px;
        }
        .top_header_elements {
            margin: 0px 0px 25px;
        }
        .header_elements_left {
            width: 25%;
            float: left;
        }
        .header_elements_right {
            width: 25%;
            float: left;
        }
        .header_field_container {
            margin: 12px 0px 0px 0px;
            width: 100%;
        }
        .header_field_container label {
            width: 18%;
            display: inline-block;
        }
        .header_field_container div {
            display: inline-block;
            width: 20%;
            
        }
        .header_field_container select {
            display: inline-block;
            width: 80%;
        }

        /*----- odoo table csss ---*/
        .left_div .nav-tabs .tab-pane:first-child .table-responsive {
            height: auto !important;
            overflow-x: auto !important;
        }
        /*------ End -----*/


        /* -- new css -- */

        .sale_form_width {
            min-width: 100% !important;
            max-width: 100% !important;
            min-height: 100% !important;
        }
        .main_div {
            width: 100%;
        }
        .product-container::-webkit-scrollbar-thumb {
            background-color: #931851;
            outline: 1px solid saltegrey;
        }
        .product-container::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px black;
        }
        .product-container::-webkit-scrollbar {
            width: 1em;
        }
        body .products-container .product-container {
            word-break: break-all;
        }
        .cat-container::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px black;
        }
        .cat-container::-webkit-scrollbar {
            width: 1em;
        }
        .cat-container::-webkit-scrollbar-thumb {
            background-color: #F27722;
            outline: 1px solid saltegrey;
        }

        @media only screen and (max-width: 1024px) {
            .left_div {
                width: 28%;
                float: left;
                display: inline-block;
                height: 300px;
                padding: 5px;
                overflow-y: scroll;
            }
            .product-container {
                float: left;
                display: inline-block;
                height: 300px;
                padding: 5px;
                overflow-y: scroll;
            }
        
            .itemButton {
                font-size: 15px;
                width: 120px;
                height: 50px;
            }
            
            .catbutton {
                font-size: 15px;
                width: 200px;
            }
        }

        /*###########(End RRG CSS)######################*/
        
        .main {
            background-color: black;
            opacity: .9%;
            padding: 40px;
        }
        
        .overlay {
            position: absolute;
            min-height: 100%;
            min-width: 100%;
            left: 0;
            padding: 40px;
            top: 0;
            /* background: rgba(0, 0, 0, 0.1); */
        }
        
        .hero {
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            padding: 40px;
            position: relative;
        }
        
        .hero::before {
            background-size: cover;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            opacity: 0.4;
        }
        
        .hero::after {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.4;
        }
        
        .flex-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
        
        #calc-contain {
            width: 40%;
            height: 700px;
            border: 2px solid black;
            border-radius: 12px;
            margin: 0px auto;
            padding: 20px 20px 100px 20px;
        }
        
        .catLabel {
            font-size: 35px;
            border: 2px;
            color: white;
            float: right;
        }
        
        .cartTable {
            display: block;
            color: white;
            height: 45%;
            width: 100%;
            text-align: center;
            overflow-y: auto;
        }
        
        .amountTable {
            display: block;
            color: white;
            text-align: center;
        }
        
        .button {
            border: none;
            opacity: .9;
            color: black;
            padding: 15px 32px;
            align-self: flex-start;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 12px 4px;
            cursor: pointer;
            width: auto;
            float: right;
        }
        
        .catbutton:focus {
            background: #8a184d;
        }

        
        #items {
            text-align: center;
            width: 18%;
        }
        
        .tbl {
            background: transparent;
            width: 20%;
            height: 40px;
            font-size: 20px;
            font-weight: 900;
            border-radius: 1px;
            margin-left: 20px;
            margin-top: 10px;
            color: white;
            font-family: times new roman;
        }
        
        #feedback {
            font-size: 1.4em;
        }
        
        #selectable .ui-selecting {
            background: #FECA40;
        }
        
        #selectable .ui-selected {
            background: #F39814;
            color: white;
        }
        
        #selectable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 450px;
        }
        
        #selectable li {
            margin: 3px;
            padding: 1px;
            float: left;
            width: 100px;
            height: 80px;
            font-size: 4em;
            text-align: center;
        }
        
        .listItem {
            text-align: center;
            color: white
        }